<html><br><br><br>
<h4 ALIGN="CENTER">login</h4><br><br><br>

<form>
    <table border="0" align="center">
        <tbody>
            <tr>
                <td><label>User name </label></td>
                <td><input type="text" placeholder="user name" /></td>
            </tr><br>
            <tr>
                <td><label>Password </label></td>
                <td><input type="password" placeholder="password" /></td>
            </tr><br>
            <br>
            <tr>
                <td><a href="javascipt:;" routerLink="/admin/home">back to home</a></td>
                <td ALIGN="CENTER">&nbsp;&nbsp;<button>submit</button></td>
            </tr><br>
            <tr>
                <td>Forgot password?</td>
                <td><a href="javascript:;"routerLink="/admin/forgot_password">Click here</a></td>
            </tr>
        </tbody>
    </table>
</form>

</html>