
<div class="fewa_header">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="pageTitle">
                <h6>dashboard</h6>
                <app-sidemenu ></app-sidemenu>
            </div>
        </div>
        <div class="col-12 col-md-6 text-right">
            <ul>
                <li>
                    <div class="dropdown">
                        <!-- <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                        <div class="profileHeader dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>
                               logout</p>
                                <div class="dropdown-menu" routerLink="/admin/login" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Logout</a>
                                </div>
                            <!-- <p> &nbsp;</p>
                            <div class="profilePic">
                                <img class="img-fluid">
                                <img class="img-fluid">
                            </div> -->
                        </div>
                        <!-- </div> -->
                        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">Logout</a>
                        </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-content">
    <p align="center">Main page content</p>
</div>