
<div class="fewa_header">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="pageTitle">
                <h6>Account Settings</h6>
                <app-sidemenu></app-sidemenu>
            </div>
        </div>
        <div class="col-12 col-md-6 text-right">
            <ul>
                <li>
                    <div class="dropdown">
                        <div class="profileHeader dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p >logout</p>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" routerLink="/admin/login">Logout</a>
                            </div>
                            <!-- <div class="profilePic">
                                <img  class="img-fluid">
                                <img  class=" img-fluid" >
                            </div> -->
                        </div>
                        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/provider/login">Logout</a>
                        </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="userTabsMenu">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                        aria-controls="v-pills-home" aria-selected="true">Section 1</a>
                    <a id="v-pills-advice-tab" data-toggle="pill" href="#v-pills-advice" role="tab"
                        aria-controls="v-pills-advice" aria-selected="false">Section 2</a>
                </div>
                <!-- Profile-->
                <div class="tab-content" id="v-pills-tabContent" style="margin: 0px;">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="fewa-title">
                            <h3 align="center">Section 1</h3>
                        </div>
                        <div class="tab-forms">
                            <h6 align="center">section 1 content</h6>
                        </div>
                    </div>

                   
                    <div class="tab-pane fade" id="v-pills-advice" role="tabpanel" aria-labelledby="v-pills-advice-tab">
                        <div class="fewa-title">
                            <h3 align="center">Section 2</h3>
                        </div>
                        <div class="tab-forms">
                            <h6 align="center">section 2 content</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>