<div class="patient-intro">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="welcomeNote">
                            <h2>Welcome,</h2>
                            <p></p>
                            <h6> <b></b></h6>
                            <form action="" class="user" >
                                <div class="form-group">
                                    <input class="form-control post-invitation" name="name"
                                        type="text" placeholder="Enter your name">
                                </div>
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" id="customCheck" name="customCheck"
                                        class="custom-control-input" style="z-index: 2;"  />
                                    <label class="custom-control-label" for="customRadioInline1">By clicking you will
                                        accept our <a>Terms and Conditions</a></label>
                                </div>
                                <br>
                                <div class="submitButton">
                                    <button type="submit"  class="submitBtn"
                                         href="javascript:;">Submit</button>
                                </div>
                            </form>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="previewVideo">

                </div>
            </div>
        </div>
    </div>
</div>