<div class="introSection">
    <div class="intro-form">
        <div class="introBackIcon">
            <img class="img-fluid">
        </div>
        <div class="intro-formSec text-center">
            <ng-container>
                <h5>Forgot Password?</h5>
                <h6>Enter the email address associated with your account</h6>
                <h6>We will email you a link to reset password</h6>
            </ng-container>
            <form >
                <div class="intro-formList">
                    <div class="form-group">
                        <input type="email" placeholder="Email address or username">
                    </div>
                    <button type="submit" >Send</button>
                    <p>Back to Login?<a href="javascript:" routerLink="/admin/login"> Sign In</a></p>
                </div>
            </form>
        </div>

    </div>

    <div class="intro-about">
        <div class="intro-content">
            <div class="into-logo">
                <img class="img-fluid">
            </div>
            <div class="intro-bannercontent"></div>
        </div>
    </div>
</div>