<html><br><br><br>
<h4 ALIGN="CENTER">Registration</h4><br><br><br>

<form>
    <table border="0" align="center">
        <tbody>
            <tr>
                <td><label>First name </label></td>
                <td><input type="text" /></td>
            </tr><br>
            <tr>
                <td><label>Last name </label></td>
                <td><input type="text" /></td>
            </tr><br>
            <tr>
                <td><label>Email </label></td>
                <td><input type="text" /></td>
            </tr><br>
            <tr>
                <td><label>Gender </label></td>
                <td> <input type="radio" name="gender" value="male">&nbsp;
                    <label for="male">Male</label>&nbsp;&nbsp;
                    <input type="radio" name="gender" value="female">&nbsp;
                    <label for="female">Female</label>&nbsp;&nbsp;
                    <input type="radio" name="gender" value="other">&nbsp;
                    <label for="other">Other</label>
                </td>
            </tr>
            <tr>
                <td><label>Subscription</label>
                <td> <input type="checkbox">&nbsp;
                    <label>single</label>&nbsp;&nbsp;
                    <input type="checkbox">&nbsp;
                    <label>8 month</label>&nbsp;&nbsp;
                    <input type="checkbox">&nbsp;
                    <label>5 year</label>
                </td>
            </tr>
            <tr>
                <td><label>Interest</label></td>
                <td><textarea cols="25" rows="5"></textarea></td>
            </tr>
            <br>
            <tr>
                <td><a href="javascipt:;" routerLink="/admin/home">back to home</a></td>
                <td ALIGN="CENTER">&nbsp;&nbsp;<button>submit</button></td>
            </tr>

        </tbody>
    </table>
</form>

</html>